files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
          }
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDazCCAlOgAwIBAgIUX6XtE/LIufrhz5Qt0l+328Ez21AwDQYJKoZIhvcNAQEL
      BQAwRTELMAkGA1UEBhMCUEgxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
      GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMzA2MTAxMDIxMzNaFw0yNDA2
      MDkxMDIxMzNaMEUxCzAJBgNVBAYTAlBIMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
      HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQCtFXalbNYvJL/QJxoqHn61l+bZKEBQLe5XpyI/zCPa
      s/+UT84H11pAEX9952TYaEAMY8P0mdsydC7pz7406RyzAIt1JBgZXRiGehssHR+M
      PAqu7P5Idi4viXXa/wpEZ1ga2+NfT/AgDKfs7JrcJgGxNMUULHgbekS1reDz98Wv
      2cmsczj8fbr39xQlbW3vK2goc8PEWyT2hlOyTy8SkoL38WIWBIjqFR49kyRkKClS
      oo/IHx221JL4kVCuN6PiHK2OGFnEwmcqUjYZc+V18zHvWw+wUPqgK7sV3SSR13iq
      eJz8YcaErtyq9QVKdNgyA+Csey8lkUtTR9lEJK7BW9t3AgMBAAGjUzBRMB0GA1Ud
      DgQWBBRozM1lzH/LJPMAVGLTUnSnMNGgkDAfBgNVHSMEGDAWgBRozM1lzH/LJPMA
      VGLTUnSnMNGgkDAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQAB
      6KnvH7t/pf+O9+mDzP/vMw8tRXM1jgJmFGOx8iJ8LNj0qiKZSJpVolP4QLwdCpQK
      S9VaQfkLdafrbEdYtOty55ybIO+p1wV5LrW6XAl43WRJI+XmP6L14plh52G0JMK4
      mG14DIq9hwQWkNbRETpy5vw2LU/WrUJQxvcsimyEGPBIReQ4GQoDDwIOW077OP8A
      ymJGdQpG3K9Geko9IktLS47GoOyx6EsSj3r17whvheSxZF8TZuDub/WKDdFloGHX
      f83K6B21pbjLxbZeaxkIZY3sOY3R8/Ay+erTKNzf4l1lsczjEH1EXzQy9f6kIvbX
      GN5gAvzBAbuJp92W9wMT
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCtFXalbNYvJL/Q
      JxoqHn61l+bZKEBQLe5XpyI/zCPas/+UT84H11pAEX9952TYaEAMY8P0mdsydC7p
      z7406RyzAIt1JBgZXRiGehssHR+MPAqu7P5Idi4viXXa/wpEZ1ga2+NfT/AgDKfs
      7JrcJgGxNMUULHgbekS1reDz98Wv2cmsczj8fbr39xQlbW3vK2goc8PEWyT2hlOy
      Ty8SkoL38WIWBIjqFR49kyRkKClSoo/IHx221JL4kVCuN6PiHK2OGFnEwmcqUjYZ
      c+V18zHvWw+wUPqgK7sV3SSR13iqeJz8YcaErtyq9QVKdNgyA+Csey8lkUtTR9lE
      JK7BW9t3AgMBAAECggEAIAkS9rdYRU2F+x7hpt4SEcZVwefDT5PQw4R5wFkmYbpj
      Ga5TsfvYBne2ozUK40sYX7KveDxp58K9VCVRTTXATBlTtpDBrSAgA/Phx550Ul5i
      k9Hllr/Y+I92stv1qIeANShxwxhml2gARMfeOdUHByd/OqaobF2LDh1qv30ip9NX
      pYmXxPBJKzTEQwX2Hq9SNRMZhpwkRqgO1af6y3Rn8Ui1KqgJ+4ecmOhwgThU6YVL
      DOruujSPstTuCXvwWsWRGquL8zeuOJl8gVvbIHjZBO0206PgzXsaW6IhhSNWXv3K
      OLPrt16lYZaglw3W5p6D34KkPzydrg5yoBjAn0SOUQKBgQDUnQN4Dq4P1GqPoigP
      m2PVMyyjDjUInRfVv08QqLuoK/VKA0BouZxKH29H7kHsxpFwLParOJV2iKh13yII
      hMf6yTs6/9jUW+AYUpxdp231wQJLNnLHj+lq4mLQJKpx0yALoXCRtHtYNWbpSS+h
      jN+/aGajIZNZqVo1u3P2w/mTCwKBgQDQZ2q+zqjVZrSV6FDIeGMN/Xsox5afTuoX
      g1bkTZNqsfhT8I0SOiWBKlEUb/jut1PCknaVllz0hRXfskxQTR/FNaIuyun3Fw1W
      03R0bPmd/CekFVo+WNGo6OIuyoZk9hIt23eB/K6rKQd/9qqvkLlfOpKBQTg3QL1h
      Cutf5fmcxQKBgQCOekHu3HeMqB5Y7qPGAa3fG5IYGtczVIK6fJ9xXIGU6xBPbupk
      w62WhoY+P83x7AdekuMiTqLqch3iD4txBfo1d1C38ufNN1xvMD0VDbREcfklifFV
      Bn23YMozDb8i1AavhJo5KidWL0MtphvDOPJgBIhzXXavKSwIwfuuLBo9jQKBgQCD
      nVxnxoIPy74ukjo6cPU1x6j5Nxtj3uWuFc9RfcCk+GJ5OIkPQtOewEfWXWTb9cGb
      Nv5XOE/aSRZoYOUbLanr1RRo8tNRrihJdl+si4oVgULTuHx2tYcrYnA91r+LkXAn
      r9vIpvj0tYO8B98B46d+gbI2mSbUljlDyS6fMNE0dQKBgGrZFRNCwDAT9dURjSqm
      sA9f6vRn9Ocr8PviwNJ0yoaLw7pIyXgC54Auy41tSZtFtjc8Dx3wqODvEeD+R9bo
      bJ/QOrQ4t0h0ecareVyVcforggR8fSVTKQHn+NWc3LJjeYs1zqUBqKatKBrtfse+
      ja54ZdnDT9A8DeOY66vCuoAN
      -----END PRIVATE KEY-----
